.card{
    background: rgb(252, 165, 83);
}

.fondo-color{
    background: rgb(0, 7, 29);
    border-color: rgb(0, 0, 0);
}

.text-center a {
    color: black; /* Cambia el color de los enlaces a negro */
    text-decoration: none; /* Elimina el subrayado si lo deseas */
}

.text-center a:hover {
    color: #ffffff; /* Cambia el color del enlace al pasar el ratón */
}