<div class="container mt-4">
    <!-- Contenedor de los Materiales de la Cesta -->

    <h1 class="text-center">MI CESTA</h1>

    <div class="row align-items-center mb-4 shadow p-3 bg-white rounded position-relative">
        <!-- Imagen del Material -->
        <div class="w-auto h-auto">
            <img src="assets/KenpoLinkLogo.png" 
                 alt="Imagen del Material" 
                 style="width: 100px; height: 100px;">
        </div>
        <!-- Detalles del Material -->
        <div class="col-md-8 d-flex flex-column justify-content-center text-center">
            <h4 class="font-weight-bold mb-4">Guantes de Kenpo</h4>
        </div>
        <!-- Precio del Material -->
        <div class="col-md-2 d-flex justify-content-end">
            <span class="font-weight-bold text-success">$35.99</span>
        </div>
    </div>
</div>
