@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

h1.text-center {
    font-family: 'Bebas Neue', sans-serif; /* Fuente importada de Google Fonts */
    font-size: 6rem; /* Ajusta el tamaño según tu preferencia */
    font-weight: normal; /* Bebas Neue es una fuente de display y no requiere peso extra */
    color: #ca5555; /* Ajusta el color si es necesario */
    text-shadow: 
        -1px -1px 0 #000,  /* Sombra hacia arriba a la izquierda */
         1px -1px 0 #000,  /* Sombra hacia arriba a la derecha */
        -1px  1px 0 #000,  /* Sombra hacia abajo a la izquierda */
         1px  1px 0 #000;  /* Sombra hacia abajo a la derecha */
}
