@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

h1.text-center.text-white {
    font-family: 'Bebas Neue', sans-serif; /* Fuente importada de Google Fonts */
    font-size: 6rem; /* Ajusta el tamaño según tu preferencia */
    font-weight: normal; /* Bebas Neue es una fuente de display y no requiere peso extra */
    color: #fff; /* Ajusta el color si es necesario */
    text-shadow: 
        -2px -2px 0 #000,  /* Sombra hacia arriba a la izquierda */
         2px -2px 0 #000,  /* Sombra hacia arriba a la derecha */
        -2px  2px 0 #000,  /* Sombra hacia abajo a la izquierda */
         2px  2px 0 #000;  /* Sombra hacia abajo a la derecha */
}

p.text-center {
    font-family: 'Roboto', sans-serif; /* Nueva fuente solo para el párrafo */
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 
        -1px -1px 0 #000, 
         1px -1px 0 #000, 
        -1px  1px 0 #000, 
         1px  1px 0 #000;
}


/* Asegura que el fondo cubra la pantalla completa */


/* Estilo para el body en la página principal */
body#index {
    background: rgb(173,190,106);
    background: linear-gradient(95deg, rgba(173,190,106,1) 0%, rgba(255,106,71,1) 34%, rgba(226,244,27,1) 91%, rgba(255,169,0,1) 100%);
    background-size: cover; /* El fondo cubre todo el área disponible */
    background-position: center; /* El fondo está centrado */
    height: 100%; /* Asegura que el body ocupe toda la altura de la ventana */
}


.margin-top-custom {
    margin-top: 60px; /* O el valor que desees */
}

html#fondo, body#index {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}