<header class="bg-primary-custom text-white p-3">
    <nav class="navbar navbar-expand-lg navbar-dark">
    <nav class="navbar navbar-expand-lg justify-content-center">
        <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="/assets/KenpoLinkLogo.png" alt="Logo de Kenpo Link" class="img-fluid">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link fw-bold" routerLink="/home/inicio" routerLinkActive="activeButton">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fw-bold" routerLink="/home/chat" routerLinkActive="activeButton">Chat</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fw-bold" routerLink="/home/tienda" routerLinkActive="activeButton">Tienda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fw-bold" routerLink="/home/eventos" routerLinkActive="activeButton">Eventos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fw-bold" routerLink="/home/perfil" routerLinkActive="activeButton">Perfil</a>
            </li>
            </ul>
        </div>
        </div>
    </nav>
    </nav>
</header>
<router-outlet></router-outlet>
