.primary-color { color: #50C878; }

.accent-color { color: #9966CC; }
        
.bg-primary-custom { background-color: #bb0404; }

        
.btn-accent { background-color: #9966CC; color: #fff; }
        
.btn-accent:hover { background-color: #855CA6; }

        /* Ajustes de estilo para el logo */
.navbar-brand img {
    height: 40px;
    margin-right: 10px;
}

.custom-shadow {
    box-shadow: 0 4px 6px rgba(0, 128, 0, 0.7); /* Sombra verde más oscura */
}

