<div class="container mt-4">
    <!-- Contenedor del Evento -->

    <div class="row align-items-center mb-4 shadow p-3 bg-white rounded position-relative">
        <!-- Imagen del Evento -->
        <div class="w-auto h-auto">
            <img src="assets/KenpoLinkLogo.png" 
                 alt="Imagen del Evento" 
                 style="width: 200; height: 200px;">
        </div>
        <!-- Detalles del Evento -->
        <div class="col-md-8 d-flex flex-column">

            <h4 class="font-weight-bold mb-4">Título del Evento</h4>
            <!-- Fecha en la parte superior izquierda, alineada sin necesidad de posicionamiento absoluto -->
            <span class="mb-1">
                20 de Noviembre, 2024
            </span>
            <!-- Lugar del Evento, pegado a la parte inferior -->
            <p class="mt-auto mb-3">Auditorio Principal, Ciudad Central</p>

            <p class="text-muted mb-2">
                Esta es una descripción breve del evento. Aquí se detalla de qué se trata y por qué es importante.
            </p>
      
        </div>
    </div>
</div>

